@{
    ViewBag.Title = "HRIS - Reset Password (Tahap 1)";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using AristaHRM.Models

@model PasswordModel

@{
    Html.EnableUnobtrusiveJavaScript();
}

<script type="text/javascript">

</script>

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Reset Password Akun</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <p style="font: 12px Arial; text-align:left">
                            Silakan isi data identitas karyawan (NIK) untuk memulai tahapan reset password yang dilakukan admin/manager. <br />Pastikan email perusahaan yang didaftarkan karyawan ybs adalah alamat email valid.
                        </p><br />
                        <p style="font: 12px Arial; text-align:left">Email pemberitahuan reset akan dikirimkan langsung kepada karyawan ybs setelah kolom NIK diisi.</p>

                        <div style="text-align:center">
                            @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                Html.DevExpress().FormLayout(settings =>
                                {
                                    settings.Name = "KonfirmasiLayout";
                                    settings.AlignItemCaptionsInAllGroups = true;
                                    settings.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                                    settings.Theme = AristaHRM.Theme.SelectTheme;
                                    settings.Items.Add(layoutitem =>
                                    {
                                        layoutitem.Caption = "Nomor Induk Karyawan ";
                                        layoutitem.SetNestedContent(() =>
                                        {
                                            Html.DevExpress().TextBoxFor(m => m.NIK, textbox =>
                                            {
                                                textbox.Width = Unit.Pixel(300);
                                                textbox.Theme = AristaHRM.Theme.SelectTheme;
                                                textbox.Properties.ValidationSettings.Display = Display.None;
                                                textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                                textbox.ShowModelErrors = true;
                                            }).GetHtml();
                                        });
                                    });
                                    settings.Items.Add(layoutitem =>
                                    {
                                        layoutitem.Caption = string.Empty;
                                        layoutitem.ShowCaption = DefaultBoolean.False;
                                    });
                                }).GetHtml();
                                <div class="formbutton">
                                @Html.DevExpress().Button(button =>
                                {
                                    button.Name = "btnSubmit";
                                    button.Text = "Reset Password";
                                    button.UseSubmitBehavior = true;
                                    button.Theme = AristaHRM.Theme.SelectTheme;
                                }).GetHtml()
                                @{ ViewContext.Writer.Write("&nbsp;"); }
                                @Html.DevExpress().Button(button =>
                                {
                                    button.Name = "btnRedirect";
                                    button.Text = "Kembali";
                                    button.UseSubmitBehavior = false;
                                    button.RouteValues = new { Controller = "Home", Action = "Index" };
                                    button.Theme = AristaHRM.Theme.SelectTheme;
                                }).GetHtml()
                                </div>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>