@{
    ViewBag.Title = "HRIS - Reset Master Password";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using AristaHRM.Models

@model PasswordModel

@{
    Html.EnableUnobtrusiveJavaScript();
}

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Reset Password Standar</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <p style="font: 12px Arial; text-align:left">
                            Silakan isi NIK yang akan direset dengan password default pada kotak di bawah ini.
                        </p><br />
                        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            Html.DevExpress().FormLayout(settings =>
                            {
                               settings.Name = "KonfirmasiLayout";
                               settings.AlignItemCaptionsInAllGroups = true;
                               settings.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                               settings.Items.Add(layoutitem =>
                               {
                                   layoutitem.Caption = "NIK Target ";
                                   layoutitem.SetNestedContent(() =>
                                   {
                                       Html.DevExpress().TextBoxFor(m => m.NIK, textbox =>
                                       {
                                           textbox.Width = Unit.Pixel(300);
                                           textbox.Properties.ValidationSettings.Display = Display.None;
                                           textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                           textbox.ShowModelErrors = true;
                                           textbox.Theme = AristaHRM.Theme.SelectTheme;
                                           textbox.Properties.ClientSideEvents.Init = "function (s, e) { s.Focus(); s.SelectAll(); }";
                                       }).GetHtml();
                                   });
                               });
                               settings.Items.Add(layoutitem =>
                               {
                                   layoutitem.Caption = string.Empty;
                                   layoutitem.ShowCaption = DefaultBoolean.False;
                               });
                           }).GetHtml();
                        <div class="formbutton">
                        @Html.DevExpress().Button(button =>
                        {
                            button.Name = "btnSubmit";
                            button.Text = "Reset Password";
                            button.UseSubmitBehavior = true;
                            button.Theme = AristaHRM.Theme.SelectTheme;
                        }).GetHtml()
                        @{ ViewContext.Writer.Write("&nbsp;"); };
                        @Html.DevExpress().Button(button =>
                        {
                            button.Name = "btnRedirect";
                            button.Text = "Kembali";
                            button.UseSubmitBehavior = false;
                            button.RouteValues = new { Controller = "Home", Action = "Index" };
                            button.Theme = AristaHRM.Theme.SelectTheme;
                        }).GetHtml();
                        </div>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>