@{
    ViewBag.Title = "HRIS - Ubah Password Akun";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using AristaHRM.Models

@model PasswordModel

@{
    Html.EnableUnobtrusiveJavaScript();
}

<script type="text/javascript">

</script>

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Ubah Password Akun</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <label style="font: 12px Arial; text-align:left">Anda dapat mengubah password untuk akun user tertentu kemudian klik "Ubah Password" untuk konfirmasi formulir isian.</label>
                        @using (Html.BeginForm("UbahPassword", "Admin", FormMethod.Post))
                        {
                            Html.DevExpress().FormLayout(settings =>
                            {
                                settings.Name = "UbahPasswordForm";
                                settings.AlignItemCaptionsInAllGroups = true;
                                settings.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                                settings.Theme = AristaHRM.Theme.SelectTheme;
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "NIK ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().ComboBoxFor(m => m.NIK, combobox =>
                                        {
                                            combobox.Properties.NullText = "-- Pilih --";
                                            combobox.Properties.HelpText = "Pilih NIK dari daftar. Sistem akan mengidentifikasi data karyawan ybs secara otomatis.";
                                            combobox.Properties.DropDownStyle = DropDownStyle.DropDown;
                                            combobox.Properties.TextField = "NIK";
                                            combobox.Properties.ValueField = "NIK";
                                            combobox.Properties.TextFormatString = "{0} - {1}";
                                            combobox.Properties.Columns.Add("NIK", "NIK", Unit.Pixel(70));
                                            combobox.Properties.Columns.Add("Nama_Karyawan", "Nama Karyawan", Unit.Pixel(300));
                                            combobox.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                                            combobox.Properties.ValidationSettings.Display = Display.None;
                                            combobox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                            combobox.Width = Unit.Pixel(300);
                                            combobox.Theme = AristaHRM.Theme.SelectTheme;
                                        }).BindList(Providers.GetKaryawan()).GetHtml();
                                    });
                                }); settings.Items.Add(layoutitem =>
                                 {
                                     layoutitem.Caption = "Password Lama ";
                                     layoutitem.SetNestedContent(() =>
                                     {
                                         Html.DevExpress().TextBoxFor(m => m.Pass_Lama, textbox =>
                                         {
                                             textbox.Properties.Password = true;
                                             textbox.Width = Unit.Pixel(400);
                                             textbox.Theme = AristaHRM.Theme.SelectTheme;
                                             textbox.Properties.ValidationSettings.Display = Display.None;
                                             textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                             textbox.ShowModelErrors = true;
                                         }).GetHtml();
                                     });
                                 });
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "Password Baru ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().TextBoxFor(m => m.Pass_Baru, textbox =>
                                        {
                                            textbox.Properties.Password = true;
                                            textbox.Width = Unit.Pixel(400);
                                            textbox.Theme = AristaHRM.Theme.SelectTheme;
                                            textbox.Properties.ValidationSettings.Display = Display.None;
                                            textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                            textbox.ShowModelErrors = true;
                                        }).GetHtml();
                                    });
                                });
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "Konfirmasi Password ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().TextBoxFor(m => m.Konfirmasi, textbox =>
                                        {
                                            textbox.Properties.Password = true;
                                            textbox.Width = Unit.Pixel(400);
                                            textbox.Theme = AristaHRM.Theme.SelectTheme;
                                            textbox.Properties.ValidationSettings.Display = Display.None;
                                            textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                            textbox.ShowModelErrors = true;
                                        }).GetHtml();
                                    });
                                });
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = string.Empty;
                                    layoutitem.ShowCaption = DefaultBoolean.False;
                                });
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = string.Empty;
                                    layoutitem.ShowCaption = DefaultBoolean.False;
                                    layoutitem.SetNestedContent(() =>
                                    {
                                    });
                                });
                            }).GetHtml();
                            @Html.DevExpress().Button(button =>
                            {
                                    button.Name = "btnUpdate";
                                    button.Text = "Update Password";
                                    button.Images.Image.Url = "~/Images/Document.png";
                                    button.Images.Image.Width = Unit.Pixel(15);
                                    button.Images.Image.Height = Unit.Pixel(15);
                                    button.UseSubmitBehavior = true;
                                    button.Theme = AristaHRM.Theme.SelectTheme;
                            }).GetHtml();
                            ViewContext.Writer.Write("&nbsp;");
                            Html.DevExpress().Button(button =>
                            {
                                button.Name = "btnReset";
                                button.Text = "Reset Formulir";
                                button.Images.Image.Url = "~/Images/Refresh.png";
                                button.Images.Image.Width = Unit.Pixel(15);
                                button.Images.Image.Height = Unit.Pixel(15);
                                button.UseSubmitBehavior = false;
                                button.Attributes.Add("type", "reset");
                                button.ClientSideEvents.Click = "function(s, e) { ASPxClientEdit.ClearEditorsInContainer(null); }";
                                button.Theme = AristaHRM.Theme.SelectTheme;
                            }).GetHtml();
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>