.dxtlControl_SpecialTheme
{
	cursor: default;
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #343434;
	border: 1px none #cbcbcb;
}
.dxtlControl_SpecialTheme caption
{
	background: #F7FAFF none;
	color: #343434;
	border-bottom: 0;
	border: 1px solid #cbcbcb;
	font-weight: normal;
	text-align: center;
	padding: 5px 5px 6px;
}
.dxtlControl_SpecialTheme .dxtlDataTable
{
	border: 1px solid #cbcbcb;
}

/* Indent cells */
.dxtlIndent_SpecialTheme,
.dxtlIndentWithButton_SpecialTheme
{
	vertical-align: top;
	background: white none no-repeat top center;
}
.dxtlIndent_SpecialTheme
{
	padding: 0 11px;
}
.dxtlICheckBox_SpecialTheme
{
	margin: auto;
}
.dxtlIndentWithButton_SpecialTheme
{
	padding: 7px 4px;
}
.dxtlSelectionCell_SpecialTheme
{
	border: 1px solid #cbcbcb;
	padding: 0 4px;
}
.dxtlSelectionCell_SpecialTheme .dxICheckBox_SpecialTheme, 
.dxtlNode_SpecialTheme .dxICheckBox_SpecialTheme
{
	margin: -4px 0;
}
/* Tree-lines cells */
.dxtlLineRoot_SpecialTheme
{
	background: White  repeat-y center top;
}
.dxtlLineFirst_SpecialTheme
{
}
.dxtlLineMiddle_SpecialTheme
{
}
.dxtlLineLast_SpecialTheme
{
}
.dxtlLineFirstRtl_SpecialTheme
{
}
.dxtlLineMiddleRtl_SpecialTheme
{
}
.dxtlLineLastRtl_SpecialTheme
{
}

/* Headers */
.dxtlControl_SpecialTheme .dxtlHSDC 
{
    background: none;
    border: 1px Solid #cbcbcb;
}
.dxtlHeader_SpecialTheme
{
	border: 1px Solid #cbcbcb;
	color: #d8d8d8;
	padding: 6px 10px;
	font-weight: normal;
}
.dxtlDataTable .dxtlHeader_SpecialTheme
{
    border-top: 0;
    border-right: 0;
}
.dxtlControl_SpecialTheme[dir=rtl] .dxtlDataTable .dxtlHeader_SpecialTheme
{
    border-left: 0;
    border-right: 1px Solid #cbcbcb;
}
.dxtlDataTable .dxtlHeader_SpecialTheme:first-child 
{
    border-left-width: 0;
}
.dxtlDataTable .dxtlHeader_SpecialTheme:last-child 
{
    border-right-width: 0;
}
.dxtlHeader_SpecialTheme table.dxtl
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader_SpecialTheme td.dxtl
{
	padding: 0;
}
.dxtlHeader_SpecialTheme,
.dxtlHeader_SpecialTheme td.dxtl
{
    color: #7e7e7e;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}

/* Nodes */
.dxtlNode_SpecialTheme
{
	background: white;
}
.dxtlAltNode_SpecialTheme
{
	background-color: #eff0f5;
}
.dxtlSelectedNode_SpecialTheme
{
	background-color: #F1C0C0;
}
.dxtlFocusedNode_SpecialTheme
{
	background: #C00000;
	color: white;
}
.dxtlInlineEditNode_SpecialTheme
{
	background: white none;
}
.dxtlEditFormDisplayNode_SpecialTheme
{
	background: #ECF4FE none;
}
.dxtlNode_SpecialTheme td.dxtl, 
.dxtlAltNode_SpecialTheme  td.dxtl, 
.dxtlSelectedNode_SpecialTheme td.dxtl, 
.dxtlFocusedNode_SpecialTheme td.dxtl,
.dxtlEditFormDisplayNode_SpecialTheme td.dxtl,
.dxtlCommandCell_SpecialTheme
{
	padding: 5px 10px 6px;
	border: 1px solid #cbcbcb;
	white-space: nowrap;
	overflow: hidden;
}
.dxtlCommandCell_SpecialTheme
{
	padding: 0 10px;
}
.dxtlHeader_SpecialTheme .dxbButton_SpecialTheme,
.dxtlCommandCell_SpecialTheme .dxbButton_SpecialTheme
{
    margin: 0px 2px;
}
.dxtlHeader_SpecialTheme .dxbButton_SpecialTheme .dxb,
.dxtlCommandCell_SpecialTheme .dxbButton_SpecialTheme .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxtlInlineEditNode_SpecialTheme td.dxtl
{
	border: 1px solid #cbcbcb;
	padding: 1px;
}
/* Scrolling */
.dxtlControl_SpecialTheme .dxtlHSDC,
.dxtlControl_SpecialTheme .dxtlCSD,
.dxtlControl_SpecialTheme .dxtlFSDC
{
    border: 1px solid #cbcbcb;
}
.dxtlControl_SpecialTheme .dxtlHSDC .dxtlCSD,
.dxtlControl_SpecialTheme .dxtlFSDC .dxtlCSD,
.dxtlControl_SpecialTheme .dxtlHSDC .dxtlDataTable,
.dxtlControl_SpecialTheme .dxtlCSD .dxtlDataTable,
.dxtlControl_SpecialTheme .dxtlFSDC .dxtlDataTable
{
    border: 0;
}
.dxtlControl_SpecialTheme .dxtlCSD .dxtlDataTable .dxtlHSEC
{
    border-left: 1px solid #cbcbcb!important;
}
.dxtlControl_SpecialTheme .dxtlHSDC .dxtlHeader_SpecialTheme 
{
    border-bottom: 0;
}
.dxtlControl_SpecialTheme .dxtlFSDC .dxtlFooter_SpecialTheme td.dxtl,
.dxtlControl_SpecialTheme .dxtlFSDC .dxtlFooter_SpecialTheme .dxtlIndent_SpecialTheme
{
    border-top: 0!important;
}
.dxtlControl_SpecialTheme .dxtlHSDC + .dxtlCSD
{
    border-top: 0;
}
.dxtlControl_SpecialTheme .dxtlCSD + .dxtlFSDC
{
    border-top: 0;
}

/* Preview */
.dxtlPreview_SpecialTheme
{
	background-color: white;
	color: #8d8d8d;

	padding: 12px 15px 12px 20px;
	border: 1px solid #cbcbcb;
	overflow: hidden;
}

/* Footers */
.dxtlGroupFooter_SpecialTheme
{
	background-color: white;
}
.dxtlFooter_SpecialTheme td.dxtl,
.dxtlFooter_SpecialTheme .dxtlIndent_SpecialTheme,
.dxtlControl_SpecialTheme .dxtlFSDC
{
	background-color: #fafafa;
}
.dxtlGroupFooter_SpecialTheme td.dxtl,
.dxtlFooter_SpecialTheme td.dxtl
{
	white-space: nowrap;
	border: 1px solid #cbcbcb;
	overflow: hidden;
}
.dxtlFooter_SpecialTheme td.dxtl,
.dxtlFooter_SpecialTheme .dxtlIndent_SpecialTheme
{
    border-top: 1px solid #cbcbcb!important;
}
.dxtlFooter_SpecialTheme td.dxtl
{
	padding: 7px 10px 8px;
}
.dxtlGroupFooter_SpecialTheme td.dxtl
{
    padding: 4px 10px;
}
.dxtlGroupFooter_SpecialTheme .dx-ar > br,
.dxtlFooter_SpecialTheme .dx-ar > br
{
    float: none; 
}

/* Pagers */
.dxtlPagerTopPanel_SpecialTheme,
.dxtlPagerBottomPanel_SpecialTheme
{
	padding: 2px 0;
}
.dxtlPagerTopPanel_SpecialTheme
{
	border-bottom: 1px none #cbcbcb;
}
.dxtlPagerBottomPanel_SpecialTheme
{
    border-top: 1px none #cbcbcb;
}
.dxtlControl_SpecialTheme .dxpLite_SpecialTheme
{
	padding: 6px 0 6px 6px;
}

/* Editing */
.dxtlEditForm_SpecialTheme
{
	border: 1px solid #cbcbcb;
	padding: 10px 15px;
}
.dxtlEditFormCaption_SpecialTheme,
.dxtlEditFormEditCell_SpecialTheme
{
	padding: 4px;
}
.dxtlEditFormCaption_SpecialTheme
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError_SpecialTheme
{
	background: #DBEBFF none;
	color: #FF0000;
	padding: 6px 10px;
	border: 1px solid #cbcbcb;
}
.dxtlPopupEditForm_SpecialTheme
{
	padding: 12px;
}

/* Links */
.dxtlControl_SpecialTheme a,
.dxtlCommandCell_SpecialTheme a
{
	color: #5e6d9d;
	text-decoration: underline;
}
.dxtlControl_SpecialTheme a:hover
{
	color: #343434;
	text-decoration: underline;
}
.dxtlFocusedNode_SpecialTheme a,
.dxtlFocusedNode_SpecialTheme .dxtlCommandCell_SpecialTheme a
{
	color: white;
}
.dxtlHeader_SpecialTheme a,
.dxtlFocusedNode_SpecialTheme a,
.dxtlSelectedNode_SpecialTheme a
{
	color: #5e6d9d;
}
.dxtlHeader_SpecialTheme a:hover,
.dxtlFocusedNode_SpecialTheme a:hover,
.dxtlSelectedNode_SpecialTheme a:hover
{
	color: #343434;
}
.dxtlCommandCell_SpecialTheme a
{
	margin-right: 3px;
}

/* Loading panel */
.dxtlLoadingPanel_SpecialTheme
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #343434;
	background-color: White;
	border: 1px solid #cfcfcf;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxtlLoadingPanel_SpecialTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 24px 36px 24px 26px;
}
.dxtlLoadingPanel_SpecialTheme .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 40px;
	width: 40px;
}

/* Disabled */
.dxtlDisabled_SpecialTheme,
.dxtlDisabled_SpecialTheme .dxtl_SpecialTheme
{
	color: #A1A1A1;
	cursor: default;
}



