@{
    ViewBag.Title = "HRIS - Ubah Password Akun";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using AristaHRM.Models

@model PasswordModel

@{
    Html.EnableUnobtrusiveJavaScript();
}

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Ubah Password</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <label style="font: 12px Arial; text-align:left">Anda dapat mengubah password akun anda untuk login ke sistem. Password pengganti dianjurkan memiliki kombinasi huruf, angka, karakter dan simbol khusus yang ada di keyboard.</label>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.DevExpress().FormLayout(settings =>
                            {
                                settings.Name = "UbahPasswordForm";
                                settings.AlignItemCaptionsInAllGroups = true;
                                settings.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                                settings.Theme = AristaHRM.Theme.SelectTheme;
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "NIK ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().TextBoxFor(m => m.NIK, textbox =>
                                        {
                                            textbox.Name = "NIK";
                                            textbox.Width = Unit.Pixel(300);
                                            textbox.Theme = AristaHRM.Theme.SelectTheme;
                                            textbox.ReadOnly = true;
                                            textbox.Style.Add("border", "none");
                                            textbox.Style.Add("background-color", "white");
                                        }).GetHtml();
                                    });
                                });
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "Password Lama ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().TextBoxFor(m => m.Pass_Lama, textbox =>
                                        {
                                            textbox.Properties.Password = true;
                                            textbox.Width = Unit.Pixel(400);
                                            textbox.Theme = AristaHRM.Theme.SelectTheme;
                                            textbox.Properties.ValidationSettings.Display = Display.None;
                                            textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                            textbox.ShowModelErrors = true;
                                        }).GetHtml();
                                    });
                                });
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "Password Baru ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().TextBoxFor(m => m.Pass_Baru, textbox =>
                                        {
                                            textbox.Properties.Password = true;
                                            textbox.Width = Unit.Pixel(400);
                                            textbox.Theme = AristaHRM.Theme.SelectTheme;
                                            textbox.Properties.ValidationSettings.Display = Display.None;
                                            textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                            textbox.ShowModelErrors = true;
                                        }).GetHtml();
                                    });
                                });
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "Konfirmasi Password ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().TextBoxFor(m => m.Konfirmasi, textbox =>
                                        {
                                            textbox.Properties.Password = true;
                                            textbox.Width = Unit.Pixel(400);
                                            textbox.Theme = AristaHRM.Theme.SelectTheme;
                                            textbox.Properties.ValidationSettings.Display = Display.None;
                                            textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                            textbox.ShowModelErrors = true;
                                        }).GetHtml();
                                    });
                                });
                            }).GetHtml()
                            <div class="formbutton">
                            @Html.DevExpress().Button(button =>
                            {
                                    button.Name = "btnUpdate";
                                    button.Text = "Update Password";
                                    button.UseSubmitBehavior = true;
                                    button.Theme = AristaHRM.Theme.SelectTheme;
                            }).GetHtml()
                            @{ ViewContext.Writer.Write("&nbsp;"); }
                            @Html.DevExpress().Button(button =>
                            {
                                    button.Name = "btnReset";
                                    button.Text = "Reset Formulir";
                                    button.UseSubmitBehavior = false;
                                    button.Attributes.Add("type", "reset");
                                    button.ClientSideEvents.Click = "function(s, e) { ASPxClientEdit.ClearEditorsInContainer(null); }";
                                    button.Theme = AristaHRM.Theme.SelectTheme;
                            }).GetHtml()
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>