@{
    ViewBag.Title = " - Edit Akun -";
    Layout = "~/Areas/Mobile/Views/Shared/_rootMobile.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

@{ var mobilearea = new { area = "Mobile" }; }

@section Header {
    @Html.ActionLink("Kembali", "Dashboard", "Home", mobilearea, new { data_icon = "arrow-l" })
}

@section Title {
    <h5>@ViewBag.Title</h5>
}




