@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_rootMobile.cshtml";
}

@using AristaHRM.Models

@{ var area = new { area = "Mobile" }; }

<script>

</script>

@section Header {

}

@section Title {
    <h5>@ViewBag.Title</h5>
}




@section Scripts {

}


