@using AristaHRM.Models

@{
    GridViewExtension grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "SisaTahunanGrid";
        settings.CallbackRouteValues = new { Area = "Mobile", Controller = "Manager", Action = "SisaTahunanPartial" };
        settings.Height = Unit.Percentage(100);
        settings.Width = Unit.Percentage(50);
        settings.Theme = AristaHRM.Theme.DefaultMobileTheme;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
        settings.Settings.VerticalScrollableHeight = 300;

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.PrevPageButton.Text = "Sebelumnya";
        settings.SettingsPager.NextPageButton.Text = "Berikutnya";
        settings.SettingsPager.Position = PagerPosition.Bottom;

        settings.CommandColumn.Visible = false;
        settings.Settings.ShowFilterRow = false;
        settings.Settings.ShowGroupPanel = false;

        settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsText.GroupPanel = "Letakkan judul kolom di sini untuk melakukan sortir data berdasarkan kolom yang ditentukan.";

        // settings.ClientSideEvents.CustomizationWindowCloseUp = "grid_CustomizationWindowCloseUp";
        settings.SettingsText.EmptyDataRow = "Tidak ada data yang ditampilkan.";

        settings.KeyFieldName = "NIK";
        settings.Columns.Add(column =>
        {
            column.FieldName = "NIK";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(70);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Nama_Karyawan";
            column.Caption = "Nama Karyawan";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(200);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Nama_Atasan";
            column.Caption = "Atasan Utama";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(200);
            var comboProperties = column.PropertiesEdit as ComboBoxProperties;
            comboProperties.DataSource = Providers.GetAtasan();
            comboProperties.TextField = "Nama_Karyawan";
            comboProperties.ValueField = "Nama_Karyawan";
            comboProperties.ValueType = typeof(string);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Periode_Awal";
            column.Caption = "Awal Periode";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(140);
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.PropertiesEdit.DisplayFormatString = "dd MMMM yyyy";
            column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
            var dateProperties = column.PropertiesEdit as DateEditProperties;
            dateProperties.EditFormat = EditFormat.Date;
            dateProperties.EditFormatString = "dd MMMM yyyy";
            dateProperties.DropDownButton.Image.Url = "~/Images/Kalender.png";
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Periode_Akhir";
            column.Caption = "Akhir Periode";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(130);
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.PropertiesEdit.DisplayFormatString = "dd MMMM yyyy";
            column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
            var dateProperties = column.PropertiesEdit as DateEditProperties;
            dateProperties.EditFormat = EditFormat.Date;
            dateProperties.EditFormatString = "dd MMMM yyyy";
            dateProperties.DropDownButton.Image.Url = "~/Images/Kalender.png";
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Jatah_Cuti";
            column.Caption = "Jatah Cuti";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(80);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Total_Cuti";
            column.Caption = "Total Cuti";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(80);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Cuti_Sekarang";
            column.Caption = "Maks. Tahunan";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(100);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Cuti_Pribadi";
            column.Caption = "Cuti Pribadi";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(80);
            column.SetDataItemTemplateContent(content =>
            {
                ViewContext.Writer.Write("<a target=\"_blank\" href=\"" + DevExpressHelper.GetUrl(new { Controller = "Manager", Action = "Riwayat", id = Session["NIK"].ToString().Trim() }) + "\">" + content.Text + "</a>");
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Cuti_Khusus";
            column.Caption = "Cuti Khusus";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(80);
            column.SetDataItemTemplateContent(content =>
            {
                ViewContext.Writer.Write("<a target=\"_blank\" href=\"" + DevExpressHelper.GetUrl(new { Controller = "Manager", Action = "Riwayat", id = Session["NIK"].ToString().Trim() }) + "\">" + content.Text + "</a>");
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Cuti_Massal";
            column.Caption = "Cuti Massal";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(80);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Cuti_Hangus";
            column.Caption = "Cuti Hangus";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(80);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Tahun_Hangus";
            column.Caption = "Tahun Hangus";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(100);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Sisa_Cuti";
            column.Caption = "Sisa Cuti";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(80);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Tahun_Cuti";
            column.Caption = "Tahun Cuti";
            column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            column.Width = Unit.Pixel(80);
        });
    });
}

@grid.Bind(Model).GetHtml()
