@{
    ViewBag.Title = "Pemberitahuan";
    Layout = "~/Areas/Mobile/Views/Shared/_redirectMobile.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

@{ var mobilearea = new { area = "Mobile" }; }

@section Header {
    @Html.ActionLink("Kembali", "Index", "Home", mobilearea, new { data_icon = "arrow-l" })
}

@section Title {
    <h5>@ViewBag.Title</h5>
}

@{
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Pemberitahuan</li>
        <li data-role="fieldcontain" style="text-align:center">
            <p>Anda telah berhasil melakukan pengajuan cuti, akan tetapi sistem tidak dapat mengirim email pemberitahuan ke atasan.</p>
            <p>Mohon segera memberitahu atasan anda dengan kode pengajuan berikut: @ViewData["ID_Cuti"]</p>
            <br /><br />
            <p>Tap tombol "Kembali" untuk kembali ke menu utama.</p>
        </li>
    </ul>

    <div data-role="footer" style="text-align:center">@Html.ActionLink("Kembali", "Dashboard", "Home", mobilearea, new { hidefocus = "hidefocus" })</div>
}


