<div class="headerTop">
    <div class="templateTitle">
        <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/Logo.png")" style="width:150px; height:40px;" /></a>
    </div>
</div>
