@{
    ViewBag.Title = "HRIS - Halaman Belum Tersedia";
    Layout = "~/Views/Shared/_redirectLayout.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

<br /><br />
<hr />
<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Under Construction</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <label class="labeldesc">
                        Halaman yang anda minta saat ini sedang dalam proses pengembangan dan belum diaktifkan.<br />
                        Mohon untuk melakukan konfirmasi kepada tim pengembang untuk informasi lebih lanjut.<br /><br />
                        Halaman ini akan dialihkan secara otomatis setelah 5 detik atau setelah anda menekan tombol &quot;Kembali&quot;.
                    </label>
                    <br /><br />
                    @Html.DevExpress().Button(settings =>
                    {
                        settings.Name = "Return";
                        settings.Text = "Kembali";
                        settings.UseSubmitBehavior = false;
                        settings.RouteValues = new { Controller = "Home", Action = "Index" };
                        settings.ClientSideEvents.Click = "function (s, e) { window.open('" + Url.Action("Index", "Home") + "', '_parent'); }";
                        settings.Theme = AristaHRM.Theme.SelectTheme;
                    }).GetHtml()
                </td>
            </tr>
        </tbody>
    </table>
</div>
