@{
    ViewBag.Title = "HRIS - Kalender Pengajuan Cuti";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Kalender Riwayat Cuti</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <label class="labeldesc">

                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


