@{
    ViewBag.Title = "HRIS - Tentang Kami";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Tentang Kami</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <p style="font: 18px Arial; text-align:center">
                            <b>
                                HRIS - Next Generation
                                <br />
                                Development Team
                            </b>
                        </p>
                        <br /><br />
                        <p style="font: 14px Arial; text-align:left">
                            <b>Project Leader :</b> Fabiano
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left"><b>Project Supervisor :</b> Dina Murtiningrum</label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left"><b>Build Engine :</b> Nagara Script Engine 0.2.0.3</label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left"><b>Design Template :</b> Kongo</label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left"><b>Code Template :</b> Sakawa</label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left"><b>System Administrator :</b> Theresia</label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left"><b>Testers :</b> Theresia & HRD Team</label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left"><b>Inspired by :</b> Paulinus P. Dwi Yulianto (Unang), Yudi Wahyudi (Yudi)</label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left"><b>Technical Support Contact :</b> prince@arista-group.co.id (Email), Ph. +62-858-835-753-74</label>
                        </p>
                        <br /><br />
                    </div>
                    <hr />
                    <hr />
                    <div style="padding: 5px 5px 5px 5px; margin: 5px 5px 5px 5px; border: 10px 10px 10px 10px solid blue">
                        <p style="font: 18px Arial; text-align:center">
                            <b>
                                ARISTA Group
                                <br />
                                Board of Directors
                            </b>
                        </p>
                        <br /><br />
                        <p style="font: 14px Arial; text-align:left">
                            Hartono Sohor - <b>President Director</b>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left">Agustinus Irawan Gozali - <b>Managing Director</b></label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left">Budiman - <b>Operation Director</b></label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left">Hasan - <b>Operation Director</b></label>
                            <br /><br />
                            <label style="font: 14px Arial; text-align:left">Ali Hanafiah - <b>Operation Director</b></label>
                            <br /><br />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>