@{
    ViewBag.Title = "HRIS - Tautan Luar";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Tautan Luar</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <p style="font: 12px Arial; text-align:left">
                            Berikut ini adalah tautan/link terkait yang dapat anda kunjungi.
                            <br /><br />
                            <label>Arista Group: <a href="http://arista-group.co.id/" target="_blank"></a></label>
                            <br /><br />
                            <label>Honda Arista: <a href="http://www.honda-arista.co.id" target="_blank"></a></label>
                            <br />
                            <label></label>
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>