@{
    ViewBag.Title = "HRIS - Ketentuan Penggunaan";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Ketentuan Penggunaan</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <label style="font: 12px Arial">Berikut ini adalah ketentuan-ketentuan penggunaan baik ketentuan umum maupun ketentuan khusus.</label>
                        <ol type="A" style="font: 12px Arial; font-weight:bold; text-align:left">
                            <li><p style="font: 12px Arial; text-align:left"><b>Ketentuan Umum</b><br /><br /></li>
                            <label style="font: 12px Arial; text-align:left">HRIS ARISTA GROUP (selanjutnya disebut "Sistem") adalah metode administrasi karyawan secara daring/online yang mencakup fungsi pengaturan cuti karyawan dan manajemen aktivitas karyawan.</label>
                            <br />
                            <br />
                            <label style="font: 12px Arial; text-align:left">Human Resources Departement ARISTA GROUP (selanjutnya disebut "HRD") adalah departemen yang menangani kepentingan manajemen sumber daya manusia dalam lingkungan ARISTA GROUP.</label>
                            <br />
                            <br />
                            <label style="font: 12px Arial; text-align:left">Seluruh pegawai yang telah aktif bekerja di dalam lingkungan ARISTA Group (selanjutnya disebut "Karyawan") adalah individu yang menempatkan diri pada lingkup kerja sesuai dengan bidangnya yang terbagi dalam departemen-departemen kerja.</label>
                            </p>

                            <ol type="1" style="font:12px Arial; text-align:left">
                                <li>Hak, Kewajiban dan Tanggung Jawab Karyawan</li>
                                <br />
                                <br />
                                <label style="font: 12px Arial; text-align:left">
                                    Dalam menggunakan sistem HRIS ini, Karyawan memiliki hak-hak sebagai berikut:<br />
                                </label>
                                <ul style="font:12px Arial; text-align:left">
                                    <li>Mengamankan akun dengan penggantian password secara berkala atau melakukan prosedur reset untuk memulihkan akun.</li>
                                    <li>Mengajukan permohonan cuti dengan persetujuan dari atasan yang bersangkutan.</li>
                                    <li>Memeriksa status pengajuan cuti yang sedang berjalan.</li>
                                    <li>Melaporkan kepada atasan yang bersangkutan apabila terdapat kekeliruan dalam pengisian formulir pengajuan cuti.</li>
                                    <li>Mengajukan permohonan mutasi atau resign kepada atasan yang bersangkutan.</li>
                                    <li>Mengajukan kritik, saran dan hal-hal penting kepada atasan secara pribadi melalui sistem umpan balik (feedback).</li>
                                </ul>
                                <br />
                                Di samping hak-hak tersebut, Karyawan juga diwajibkan melakukan hal berikut:
                                <br />
                                <br />
                                <ul style="font:12px Arial; text-align:left">
                                    <li>Melaporkan dengan segera kepada atasan yang bersangkutan perihal pengajuan cuti yang baru dilakukan.</li>
                                    <li>Mewakilkan pengajuan cuti kepada atasan apabila mengajukan cuti secara backdate.</li>
                                    <li>Menaati hasil keputusan mutasi apabila proses mutasi telah disetujui oleh atasan yang bersangkutan.</li>
                                </ul>
                                <br />
                                Dalam hal relasi dengan HRD, Karyawan memiliki tanggung jawab untuk:
                                <br />
                                <br />
                                <ul style="font:12px Arial; text-align:left">
                                    <li>Memberikan keterangan yang jelas perihal cuti yang dilakukan.</li>
                                    <li>Memberikan data-data yang benar dan lengkap perihal mutasi karyawan dan/atau jabatan.</li>
                                    <li>Melaporkan setiap permasalahan yang terjadi dalam pengoperasian Sistem untuk segera ditindaklanjuti.</li>
                                </ul>
                                <br />
                                <li>Hak, Kewajiban dan Tanggung Jawab Manajer/Supervisor</li>
                                <br />
                                <br />
                                <label style="font: 12px Arial; text-align:left">
                                    Dalam menggunakan sistem HRIS ini, manajer/supervisor dari masing-masing departemen memiliki hak untuk:<br />
                                </label>
                                <ul style="font:12px Arial; text-align:left">
                                    <li>Melakukan perubahan/mengatur ulang (reset) password karyawan dengan sepengetahuan karyawan bersangkutan.</li>
                                    <li>Mewakili pengisian formulir dan menyetujui/menolak permohonan cuti karyawan secara online.</li>
                                    <li>Memeriksa status pengajuan cuti dan riwayat cuti dari seluruh karyawan bawahan.</li>
                                    <li>Mengubah/edit, membatalkan atau menghapus permohonan cuti yang telah disetujui.</li>
                                    <li>Khusus untuk manajer: melakukan pengisian formulir mutasi atas nama diri sendiri atau mutasi karyawan bawahan.</li>
                                    <li>Mengajukan permohonan resign atas nama diri sendiri dan menyetujui permohonan resign dari karyawan bawahan (persetujuan resign hanya dapat dilakukan oleh manajer).</li>
                                    <li>Mengajukan kritik, saran dan hal-hal penting lainnya kepada HRD/support dengan proses umpan balik (feedback).</li>
                                </ul>
                                <br />
                                Di samping hak-hak tersebut, manajer juga diwajibkan melakukan hal berikut:
                                <br />
                                <br />
                                <ul style="font:12px Arial; text-align:left">
                                    <li>Melaporkan dengan segera kepada HRD mengenai proses pengajuan cuti diri sendiri/karyawan bawahan yang sedang berlangsung.</li>
                                    <li>Memberitahukan kepada karyawan mengenai pengajuan cuti secara backdate.</li>
                                    <li>Menaati hasil keputusan mutasi apabila proses mutasi telah disetujui oleh pihak berwenang (termasuk pihak direksi).</li>
                                    <li>Melaporkan dengan segera kepada HRD apabila menemukan penyalahgunaan fasilitas tertentu yang tersedia pada Sistem.</li>
                                </ul>
                                <br />
                                Dalam hal relasi dengan HRD, manajer memiliki tanggung jawab untuk:
                                <br />
                                <br />
                                <ul style="font:12px Arial; text-align:left">
                                    <li>Memberikan keterangan yang jelas perihal cuti yang dilakukan oleh diri sendiri maupun karyawan bawahan.</li>
                                    <li>Memberikan data-data yang benar dan lengkap perihal mutasi karyawan dan/atau jabatan.</li>
                                    <li>Melaporkan setiap permasalahan yang terjadi dalam pengoperasian Sistem untuk segera ditindaklanjuti.</li>
                                </ul>
                            </ol>
                            <br />
                            <li style="font: 12px Arial; font-weight:bold; text-align:left">Ketentuan Khusus</li>
                            <br />
                            <br />
                            <label style="font: 12px Arial; text-align:left">Selama pengoperasian Sistem, Karyawan patut memperhatikan ketentuan berikut ini:</label>
                            <br />
                            <br />
                            <ul style="font: 12px Arial; text-align:left">
                                <li>Tidak memanfaatkan celah keamanan pada Sistem untuk keuntungan pribadi.</li>
                                <li>Tidak melakukan proses pengajuan cuti secara berulang-ulang dalam interval tertentu dengan maksud untuk membebani kinerja Sistem.</li>
                                <li>Tidak melakukan pengiriman paket data liar secara besar-besaran kepada Sistem dengan tujuan melumpuhkan/mematikan fungsi kerja Sistem (DDoS/Distributed Denial of Service).</li>
                                <li>Tidak dengan sengaja menempatkan virus, worm dan program perusak sejenis dengan maksud mengacaukan kerja komputer karyawan lain yang terhubung pada Sistem.</li>
                                <li>Tidak dengan sengaja memodifikasi, mengubah fungsi dan/atau melakukan disassembly pada Sistem untuk tujuan apapun tanpa sepengetahuan dan persetujuan dari penyusun dan/atau pihak lain yang berwenang.</li>
                            </ul>
                            <br />
                            <li style="font: 12px Arial; font-weight:bold; text-align:left">Penutup</li>
                            <br />
                            <br />
                            <label style="font: 12px Arial; text-align:left">Hal-hal lainnya yang belum diatur dalam ketentuan penggunaan Sistem ini akan diatur kemudian atau diatur tersendiri.</label>
                        </ol>
                        </ol>
                    </div><br />
                    <div style="text-align:left; font: 12px Arial; margin-left:55px">
                        Tertanda,
                        <p>&nbsp;</p>
                        <label style="text-decoration:underline">HRIS Arista Group Development Team</label>
                        <br /><br />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>